/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9; /* Light background */
    color: #333;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}

header {
    background-color: #f0f8ff; /* Lighter shade for the header */
    color: #299B63; /* Dark green for text */
    padding: 20px;
    text-align: center;
    border-bottom: 4px solid #299B63; /* Yellow border representing Senegalese flag */
}

h1, h2 {
    margin: 0;
    padding: 10px 0;
    color: #299B63; /* Dark green */
}

main {
    padding: 20px;
}

/* Form Styles */
form {
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}
/* Form Styles pour le login */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Alignement à gauche */
  }
  
  .form-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px; /* Espacement interne */
    background-color: #299B63; /* Couleur de fond similaire au bouton */
    color: white; /* Couleur du texte */
    border-radius: 4px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
  }
  
  .radio-group {
    display: flex;
    justify-content: space-between; /* Espace entre les boutons radio */
    margin-bottom: 20px;
  }
  
  .radio-label {
    display: flex;
    align-items: center; /* Centre verticalement */
    font-weight: bold;
  }
  
  label {
    display: block; /* Étiquettes pour CNE, CNI, etc. sont superposées */
    margin-top: 10px;
    font-weight: bold;
  }
  
  textarea, input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #299B63; /* Green from Senegalese flag */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  /* fin Form Styles pour le login */

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 16px;
}

th {
    background-color: #299B63; /* Green */
    color: white;
}

td {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Senegal Flag Colors Borders */
input[type="radio"]:checked + label {
    color: #ff0000; /* Red */
}

#userForm input[type="radio"]:hover {
    outline: 2px solid greenyellow; /* Yellow hover effect */
}

input:focus, textarea:focus, select:focus {
    outline-color: greenyellow; /* Yellow focus */
}

/* Footer Styling */
footer {
    background-color: #004400; /* Green footer */
    color: white;
    text-align: center;
    padding: 20px 0;
    border-top: 4px solid greenyellow; /* Yellow top border */
}
