<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/senegal.jfif') }}" alt="Logo" style="width: 50px; height: auto; margin-right: 10px; vertical-align: middle;">
        <h1>E-Vote</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
