{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>LISTE DES CANDIDATS</h2>
  <form method="GET" action="{{ url_for('main.create_candidate') }}">
    <label for="election_id">ID Election:</label>
    <input type="number" id="election_id" name="election_id" required>
    <button type="submit">Ajouter un candidat</button>
  </form>
</div>

<table class="table caption-top">
    <thead>
      <tr>
        <th scope="col">CNE</th>
        <th scope="col">Prenom</th>
        <th scope="col">Nom</th>
        <th scope="col">Profession</th>
        <th scope="col">ID Election</th>
      </tr>
    </thead>
    <tbody>
      {% for candidat in candidats %}
      <tr>
        <td>{{ candidat.id_cnd }}</td>
        <td>{{ candidat.prenom }}</td>
        <td>{{ candidat.nom }}</td>
        <td>{{ candidat.profession }}</td>
        <td>{{ candidat.election_id }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<form method="GET" action="{{ url_for('main.dashboard') }}">
    <div style="text-align: center; margin-top: 20px;">
        <button type="submit">Retour</button>
    </div>
</form>
{% endblock %}
