{% extends "base.html" %}
{% block content %}
    <h2>ENREGISTRER UN CANDIDAT</h2>
    <form method="POST" style="margin-bottom: 20px;">
        <div style="margin-bottom: 10px;">
            <label for="nom">Nom:</label>
            <input type="text" name="nom" required style="width: 100%; padding: 5px;">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="prenom">Prénom du Candidat:</label>
            <input type="text" name="prenom" required style="width: 100%; padding: 5px;">
        </div>
        <div style="margin-bottom: 10px;">
            <label for="photo">Photo:</label>
            <textarea name="photo" style="width: 100%; padding: 5px;"></textarea>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="profession">Profession:</label>
            <input type="text" name="profession" required style="width: 100%; padding: 5px;">
        </div>
        <button type="submit" style="margin-top: 10px;">Créer</button>
    </form>

    <form method="GET" action="{{ url_for('main.dashboard') }}">
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit">Accueil</button>
        </div>
    </form>

{% endblock %}
