{% extends "base.html" %} {% block content %}
<div class="form-container">
  <h2 class="form-title">Sign in</h2>
  <form id="userForm" method="POST">
    <!-- Radio Buttons for Electeur and Organisateur -->
    <div class="radio-group">
      <div class="radio-label">
        <input type="radio" name="user_type" value="electeur" checked />
        <label>Electeur</label>
      </div>
      <div class="radio-label">
        <input type="radio" name="user_type" value="organisateur" />
        <label>Organisateur</label>
      </div>
    </div>

    <!-- Electeur Section -->
    <div id="electeurFields">
      <label for="cne">CNE:</label>
      <textarea name="cne"></textarea><br />
    </div>

    <!-- Organisateur Section -->
    <div id="organisateurFields" style="display: none">
      <label for="cni">CNI:</label>
      <input type="cni" name="cni" /><br />
      <!-- <textarea name="cni"></textarea><br /> -->
      <label for="email">Email:</label>
      <input type="email" name="email" /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" /><br />
    </div>
  </form>
</div>

<!-- JavaScript to toggle fields -->
<script>
  const electeurFields = document.getElementById("electeurFields");
  const organisateurFields = document.getElementById("organisateurFields");

  document.querySelectorAll('input[name="user_type"]').forEach((radio) => {
    radio.addEventListener("change", function () {
      if (this.value === "electeur") {
        electeurFields.style.display = "block";
        organisateurFields.style.display = "none";
      } else {
        electeurFields.style.display = "none";
        organisateurFields.style.display = "block";
      }
    });
  });
</script>

{% endblock %}
