{% extends "base.html" %}
{% block content %}
<h2>Votez par ordre de préférences</h2>
<form method="POST">
    <label for="cne">CNE :</label>
    <textarea name="cne" required></textarea><br>
    <label for="premier_choix">Premier Choix:</label>
    <select name="premier_choix">
        {% for candidat in candidats %}
        <option value="{{ candidat.id_cni }}">{{ candidat.nom }} {{ candidat.prenom }}</option>
        {% endfor %}
    </select><br>
    <label for="second_choix">Second Choix:</label>
    <select name="second_choix">
        {% for candidat in candidats %}
        <option value="{{ candidat.id_cni }}">{{ candidat.nom }} {{ candidat.prenom }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">Soumettre le Vote</button>
</form>
{% endblock %}
